__pycache__
.ipynb_checkpoints
.python-version
.vscode
*.log
*.fits
*.lock
*.last
*.fits
data
SLAM*
VADP*
.venv
visibility
model
visibility_fit
test_JvM_effect
script_from_Takakuwa-san
latex
fit
figure
archive