[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://casa-pip.nrao.edu/repository/pypi-casa-release/simple"
verify_ssl = true
name = "casa"

[packages]
numpy = "*"
cython = "*"
pytest = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
astropy = "*"
ipython = "*"
casatools = "*"
casatasks = "*" 
casadata = "*"
astroquery = "*"
emcee = "*"
tqdm = "*"
corner = "*"
alminer = "*"
gofish = "*"
bettermoments = "*"
radio-beam = "*"
xarray = "*"
regions = "*"
ipykernel = "*"
uvplot = "*"
galario = {git = "https://github.com/yyamato-as/galario.git"}
casaplotms = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
